{% extends 'base.html' %}
{% block title %} Home {% endblock%}

{% block body %}
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to Ace Nova Toastmasters Club</h1>
        <p class="lead fst-italic my-3">"Speak with Impact, Lead with Confidence – Ace Nova Toastmasters Club"</p>
        <!-- <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Continue reading...</a></p> -->
      </div>
    </div>
  
  <!-- Blog view -->
    <!-- <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong>
            <h3 class="mb-0">Post title</h3>
            <div class="mb-1 text-body-secondary">Nov 11</div>
            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
    </div> -->
  
    <div class="row g-5">
      <div class="col-md-8">
        <!-- <h3 class="pb-4 mb-4 fst-italic border-bottom">
          From the Firehose
        </h3> -->
  
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">About</h2>
          <p class="blog-post-meta">January 1, 2023 </p>
            <p class="text-start">Welcome to Ace Nova Toastmasters Club – Where Excellence Meets Innovation! At Ace Nova, we are a dynamic community of individuals dedicated to enhancing our communication and leadership skills in a supportive and <br>vibrant environment. Whether you're a seasoned speaker or a novice, Ace Nova provides a platform for growth, <br>encouragement, and constructive feedback. Join us on a journey of self-discovery, where every meeting is an opportunity to shine and where the art of communication is celebrated. Unleash your potential, build confidence, brand forge lasting connections at Ace Nova Toastmasters Club – your launchpad for personal and professional success.</p>
          </article>
          <div class="p-3">
            <h4 class="fst-italic">Socials  </h4>
            <ol class="list-unstyled">
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">LinkedIN</a></li>
            </ol>
          </div>
        </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">Score</h4>
            <p class="mb-0"><h2>74</h2></p>
          </div>
  
          <div>
            <h4 class="fst-italic">Announcement</h4>
            <ul class="list-unstyled">
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Congratulation! TM Pratham </h6>
                    <small class="text-body-secondary">Congratulations on your outstanding achievement as the HSE Winner at Toastmasters! Your dedication to excellence and effective communication truly sets you apart. Well done! 🏆🌟</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Congratulation! TM Astha</h6>
                    <small class="text-body-secondary">Heartfelt congratulations on being crowned the ESE Winner at Toastmasters! Your exceptional communication skills and leadership shine brightly. Well-deserved success! 🏆👏</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
  </main>

  {% endblock %}