{% extends 'base.html' %}
{% block title %} Registration {% endblock%}


{% block body %}
<main class="container">
  <p class="h1"> Registration </p>
  <form class="row g-3">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">First Name</label>
      <input type="text" class="form-control " id="" required>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Last Name</label>
      <input type="text" class="form-control " id="" required>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Email</label>
      <input type="text" class="form-control  " id="validationServer02" required>
      <!-- <div class="valid-feedback">
        Looks good!
      </div> -->
      <!-- <label for="validationServerUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div> -->
      <!-- </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer04" class="form-label">Department</label>
      <select class="form-select   " id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>Artificial Intelligence & Machine Learning</option>
        <option>Data Science & Cyber Security</option>
        <option>BBA</option>
        <option>EnTC</option>
        <option>Civil</option>
        <!-- <option>Data Science</option>
        <option>Data Science</option> -->
      </select>
      <!-- <div class="invalid-feedback">
        Please select a valid state.
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer04" class="form-label">Year</label>
      <select class="form-select   " id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>First Year</option>
        <option>Second Year</option>
        <option>Third Year</option>
        <option>Fourth Year</option>
      </select>
      <!-- <div class="invalid-feedback">
        Please select a valid state.
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer05" class="form-label">Phone No</label>
      <input type="text" class="form-control   " id="validationServer05" required>
      <!-- <div class="invalid-feedback">
        Please provide a valid zip.
      </div> -->
    </div>
    <div class="col-12">
      <p class="h3">Mentor Preference</p>
    </div>
    <div class="col-md-4">
      <label for="validationServer04" class="form-label">Preference No 1</label>
      <select class="form-select   " id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>First Year</option>
        <option>Second Year</option>
        <option>Third Year</option>
        <option>Fourth Year</option>
      </select>
      <!-- <div class="invalid-feedback">
        Please select a valid state.
      </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer04" class="form-label">Preference No 2</label>
      <select class="form-select   " id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>First Year</option>
        <option>Second Year</option>
        <option>Third Year</option>
        <option>Fourth Year</option>
      </select>
      <!-- <div class="invalid-feedback">
          Please select a valid state.
        </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer04" class="form-label">Preference No 3</label>
      <select class="form-select   " id="validationServer04" required>
        <option selected disabled value="">Choose...</option>
        <option>First Year</option>
        <option>Second Year</option>
        <option>Third Year</option>
        <option>Fourth Year</option>
      </select>
      <!-- <div class="invalid-feedback">
            Please select a valid state.
          </div> -->
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">PassCode</label>
      <input type="text" class="form-control  " id="" required>
      <!-- <div class="valid-feedback">
              Looks good!
            </div> -->

      <div class="col-12 my-2">
        <div class="form-check">
          <input class="form-check-input   " type="checkbox" value="" id="invalidCheck3" required>
          <label class="form-check-label" for="invalidCheck3">
            I agree to share my contact with the mentor.
          </label>
          <!-- <div class="invalid-feedback">
          You must agree before submitting.
        </div> -->
        </div>
      </div>
      <div class="col-12 my-2">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
  </form>

</main>

{% endblock %}